.row {

  @mixin clearfix;

  &--gutters-on-small > div {

    @mixin atSmall {
      padding-right: 1rem;
    }
  }

  & .last-on-small {

    @mixin atSmall {
      padding-right: 0;
    }

    @mixin atMedium {
      padding-right: 1rem;
    }
  }

  & .last-on-medium {
    
    @mixin atMedium {
      padding-right: 0;
    }

    @mixin atLarge {
      padding-right: 1rem;
    }
  }

  & .last-on-large {
    
    @mixin atLarge {
      padding-right: 0;
    }
  }

  .flexbox &--equal-height-on-small {
    
    @mixin atSmall {
      display: flex;
      flex-wrap: wrap;

      & > div {
        float: none;
        display: flex;
      }
    }
  }

  &__1 {
    width: 100%;
    padding-right: 0;
  }

  &__1-2 {
    float: left;
    width: calc(1/2 * 100%);
  }

  &__1-3 {
    float: left;
    width: calc(1/3 * 100%);
  }

  &__1-7 {
    float: left;
    width: calc(1/7 * 100%);
  }

  @mixin atSmall {
    &__small-1 {
      width: 100%;
      padding-right: 0;
    }

    &__small-1-2 {
      float: left;
      width: calc(1/2 * 100%);
    }

    &__small-1-3 {
      float: left;
      width: calc(1/3 * 100%);
    }

    &__small-1-7 {
      float: left;
      width: calc(1/7 * 100%);
    }
  }

  @mixin atMedium {
    &__medium-1 {
      width: 100%;
      padding-right: 0;
    }

    &__medium-1-2 {
      float: left;
      width: calc(1/2 * 100%);
    }

    &__medium-1-3 {
      float: left;
      width: calc(1/3 * 100%);
    }

    &__medium-1-7 {
      float: left;
      width: calc(1/7 * 100%);
    }
  }

  @mixin atLarge {
    &__large-1 {
      width: 100%;
      padding-right: 0;
    }

    &__large-1-2 {
      float: left;
      width: calc(1/2 * 100%);
    }

    &__large-1-3 {
      float: left;
      width: calc(1/3 * 100%);
    }

    &__large-1-7 {
      float: left;
      width: calc(1/7 * 100%);
    }
  }
}